body {
    background-image: linear-gradient(to bottom, rgba(37, 0, 54, 0.897), rgba(20, 0, 29, 0.938));
    height: 100%;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

/*HEADER contains nav and banner*/

.header {
    width: 100%;
    font: 16px Georgia;

}

.bg-galaxy {
    background-image: url(" ./images/galaxy.jpg");
    background-position: 0% 50%;
    background-size: 120% 100%;
    opacity: 50%;
    display: flex;
    height: 100vh;
    min-width: 100%;
    position: absolute;
    z-index: -10;
    animation: galaxy-move 10s infinite;
}


@keyframes galaxy-move {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: -20px 50%;
    }

    100% {
        background-position: 0% 50%;
    }


}

nav {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 25%;
    font-size: 20px;
    gap: 10px 20px;
    color: rgb(0, 255, 0);
}

.resume {
    background-color: rgba(0, 0, 0, 0);
    color: whitesmoke;
    font-size: 20px;
    border: solid 1px rgb(0, 255, 0);
    border-radius: 5px;
    padding: 0 5px;
}

.resume:hover {
    color: rgb(180, 180, 180);
    border: solid 1px rgba(0, 255, 0, 0.548);
}

a:link,
a:visited,
a:active {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: rgb(180, 180, 180);
}

.banner {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-top: 25vh;
    min-height: 100vh;
    vertical-align: middle;
}

h1 {
    margin-top: 5%;
    margin-right: 50%;
    text-align: end;
    font: bold 4.5rem Georgia;
    color: whitesmoke;
    animation: title 2s 1;
}

@keyframes title {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 100;
    }
}



span {
    display: inline-block;
}

.letter-effect:hover {
    color: rgb(0, 255, 0);
    animation: bounce 0.5s 1;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-25px);
        text-shadow: -5px 20px 10px rgba(0, 0, 0, 0.5);
    }

    60% {
        transform: translateY(-15px);
        text-shadow: -5px 15px 10px rgba(0, 0, 0, 0.5);
    }
}

#intro {
    display: flex;
    flex: 1;
    color: whitesmoke;
    margin: auto 20% 5% 40%;
    font: 1.5rem Georgia;
    animation: intro-slide-in 2s 1;
}

.introText {
    padding: 10px;
    max-width: 650px;
    height: min-content;
}

.introText:hover {
    color: black;
    animation: intro-bg 3s 1;
    animation-fill-mode: forwards;
}

@keyframes intro-slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 100;
    }
}

@keyframes intro-bg {
    from {
        background-color: rgba(0, 255, 0, 0);
        border-radius: 10px;
        border: solid 3px rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgb(0, 255, 0);
        border-radius: 10px;
        border: solid 3px rgba(0, 0, 0, 0.479);
        box-shadow: -5px 15px 10px rgba(0, 0, 0, 0.5);
    }
}

/* OVERLAY */

.uparrow {
    z-index: 10;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 200%;
}

.socials {
    display: flex;
    width: 40px;
    z-index: 10;
    flex-direction: column;
    position: fixed;
    bottom: 20px;
    left: 20px;
    gap: 10px 20px;
    font-size: 30px;
}

.emailForm {
    font-size: 20px;
    background: none;
    border: none;
    z-index: 10;
    color: whitesmoke;
    position: fixed;
    top: 45px;
    right: -15px;
    transform: rotate(90deg);
    text-decoration: none;
}

.emailForm:hover {
    color: rgb(180, 180, 180);
}

/*SHOWCASE*/
h2 {
    text-align: center;
    font: bold 4rem Georgia;
    color: whitesmoke;
}

.showcase {
    min-height: 100vh;
}

.showcase-card {
    height: 200px;
    width: 300px;
    margin: 0 10px;
    border: solid rgba(0, 0, 0, 0.5) 5px;
    border-radius: 10px;
    opacity: 75%;
    background-color: rgba(20, 0, 29, 0.938);
    color: whitesmoke;
}

.showcase-card:hover {
    box-shadow: -5px 20px 30px rgba(0, 0, 0, 0.5);
    translate: 1px 1px;
    opacity: 100%;
}

/*ABOUt*/
.about {
    align-items: flex-start;
    color: whitesmoke;
    font: 1.5rem Georgia;
    min-height: 100vh;

}

.about-item {
    display: flex;
    width: 50%;
}

.about-item>p>span {
    font-size: 2.5rem;
}

.about-img {
    max-width: 300px;
    border: solid rgba(0, 0, 0, 0.5) 5px;
    border-radius: 10px;
}

/*
SCROLLBAR

width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(37, 0, 54, 0.897);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 0);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 255, 0, 0.548);
}

/* .cursor {
    pointer-events: none;
}

.cursor-ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
}

.cursor>svg>circle {
    fill: #f7f8fa;
} */