:root {

}
body {
    --main-bg-color: #57594D;
    --main-text: #F2E2CE;
    --hover-text: #D9AD77;
    --accent-color: #838C7D;
    --border-color: var(--accent-color);
    --card-bg-color: var(--main-bg-color);
    --card-text-color: var(--main-text);

    background: var(--main-bg-color);
    color: var(--main-text);
    font:1.5rem Georgia, 'Times New Roman', Times, serif;
}
body.dark {
    --main-bg-color: #332B3B;
    --main-text: #C4BDCC;
    --hover-text: #847DBA;
    --accent-color: #8474C6;
}
body.light {
    --main-bg-color: #FFFFFF;
    --main-text: #000000;
    --hover-text: #404040;
    --accent-color: #404040;
}

.navbar .navbar-nav .nav-link {
    font-size: 20px;
    color: var(--main-text);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--hover-text);
}

.navbar .navbar-toggler {
    background-color: var(--main-text);
}

a:link,
a:visited,
a:active {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}
/* EMAIL AND MODAL */
.email-btn{
    background-color: var(--main-bg-color);
    color: var(--main-text);
    border: none;
}
.email-btn:hover{
    background-color: var(--main-bg-color);
    color: var(--hover-text);
    box-shadow: inset 0 0 10px var(--border-color);
}
.form-control{
    background-color: var(--main-text);
    border: none;
    box-shadow: inset 0 0 5px var(--main-bg-color);
}
.form-control::placeholder{
    color: var(--accent-color);
}
.modal-body, .modal-header{
    background-color: var(--accent-color);
}
/*HEADER contains banner*/

.header {
    margin-top: 25vh;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font: bold 4.5rem Georgia;
    animation: title 2s 1; 
}
h2{
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    h1 {
        font-size: 3rem;
    }
}

@keyframes title {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 100;
    }
}

span {
    display: inline-block;
}

.letter-effect:hover {
    color: var(--hover-text);
    animation: bounce 0.5s 1;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-25px);
        text-shadow: -5px 20px 10px rgba(0, 0, 0, 0.5);
    }

    60% {
        transform: translateY(-15px);
        text-shadow: -5px 15px 10px rgba(0, 0, 0, 0.5);
    }
}
.introText {
    text-align: center;
    min-width: 50%;
}

/* OVERLAY */
.overlay {
    display: flex;
    z-index: 10;
    font-size: 30px;
}

.uparrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.socials {
    display: flex;
    flex-direction: column;
    width: 40px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    gap: 10px 20px;
}
/* SHOWCASE */
.showcase {
    min-height: 100vh;
}

.showcase-card {
    background-color: var(--card-bg-color);
    color: var(--card-text-color);
    font-size: 1.25rem;
    margin: 10px auto;
    border: 3px solid var(--border-color);
    border-radius: 10px;
    opacity: 75%;
}

.showcase-card:hover {
    color: var(--hover-text);
    box-shadow: -5px 20px 30px rgba(0, 0, 0, 0.5);
    opacity: 100%;
}

/*ABOUt*/
.about {
    min-height: 100vh;
}

.about>.row>.col>p>span {
    font-size: 2.5rem;
}

.about-img {
    max-width: 300px;
    border: 3px solid var(--border-color);
    border-radius: 10px;
    mix-blend-mode: luminosity;
}
.about-img:hover{
    mix-blend-mode: normal;
}

/*SCROLLBAR width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--main-bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-text);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--hover-text);
}


